.help-block strong{
  	color:red;
}

 #propertymap .gm-style-iw{
    box-shadow:none;
    color:#515151;
    font-family: "Georgia", "Open Sans", Sans-serif;
    text-align: center;
    width: 100% !important;
    border-radius: 0;
    left: 0 !important;
    top: 20px !important;
}

 #propertymap .gm-style > div > div > div > div > div > div > div {
    background: none!important;
}

.gm-style > div > div > div > div > div > div > div:nth-child(2) {
     box-shadow: none!important;
}
 #propertymap .gm-style-iw > div > div{
    background: #FFF!important;
}

 #propertymap .gm-style-iw a{
    text-decoration: none;
}

 #propertymap .gm-style-iw > div{
    width: 245px !important
}

 #propertymap .gm-style-iw .img_wrapper {
    height: 150px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

 #propertymap .gm-style-iw .img_wrapper > img {
    width: 100%;
    height:auto;
}

 #propertymap .gm-style-iw .property_content_wrap {
    padding: 0px 20px;
}

 #propertymap .gm-style-iw .property_title{
    min-height: auto;
}
 /* Categoriya tanlash uchun ishlatiladigan modal styllari */

#exampleModalCat.fancybox-content {
    /*width: max-content;*/
    /*max-height: 525px;*/
    width: 100%;
    max-width: 709px;
    padding: 40px;
}
#exampleModalCat.fancybox-content h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 40px;
}
#exampleModalCat p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.455556px;
    color: #000000;
    margin-bottom: 0;
    transition: all .1s linear;
}
ul.cat_icon {
    padding: 0 20px;
}
ul.cat_icon li a:hover p {
    font-weight: 700;
}

#exampleModalCat .fancybox-button svg path {
   fill: #0c0c0c;
}
#exampleModalCat .select2-container--default .select2-results>.select2-results__options{
    max-height: 165px;
}
    /* Modal oyna redesign 21.09.2020 */
#content-modal{
    display: flex;
    flex-direction: row;
}
#content-modal > .left-box{
    /*width: 100px;*/
    margin: 0;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    padding-right: 30px;
}

#content-modal > .left-box img{
    width: auto;
    filter: drop-shadow(0px 10px 10px rgba(144, 133, 106, 0.2));
    height: 102px;
    width: auto;
}

#exampleModalCat .more_know{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 2px;
    padding-left: 52px;
    padding-right: 52px;
}
#exampleModalCat .more_know:disabled{
    /*background: #cccccc;
    cursor: default;
    color: #c0c0c0 !important;
    pointer-events: none*/

    cursor: default;
    border: 1px solid #e0e7f1;
    background-color: #fff;
    color: #8d9aaf !important;
    pointer-events: none
}
#exampleModalCat .more_know:disabled:hover{
    background: #cccccc;
}
#content-modal > .left-box p{
    margin-top: 12px;
    font-weight: bold;
}
#content-modal > .right-box{
    width: 423px;
    margin: 30px 0 0 30px;
}
#content-modal > .right-box .select2{
    width: 100% !important;
    margin: 2px auto;
}
.child-cat{
    margin-top: 0px;
    margin-bottom: 16px;
}


@media (max-width: 768px) {
    #content-modal > .right-box{
        width: 350px;
        margin: auto;
    }
}
@media (max-width: 575.98px) {
    #content-modal > .right-box{
        width: 280px;
        margin: auto;
    }
}

/* Modal oyna redesign end 21.09.2020 */
#content-modal > ul.cat_icon {
    list-style: none;
}
#content-modal > ul > li {
    width: 111px;
    word-wrap: break-word;
    margin-top: 30px;
}
#content-modal > ul > .cat_icon_left {
   display: inline-grid;
}
#content-modal > ul > .modal_cat_item {
    margin-left: 5px;
    margin-right: 5px;
}
.fancybox-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.funcybox-header-image{
    margin-right: 20px;
}
.funcybox-header-image > a{
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}
.funcybox-header-cat-name {
    font-size: 16px;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#exampleModalCat.funcybox-body{
    padding: 27px 10px !important;
    text-align: center !important;
}

div#exampleModalCat h5 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0;
}

div#exampleModalCat button.fancybox-button.fancybox-close-small {
    right: 30px;
    top: 30px;
}
div#exampleModalCat ul {
    margin-bottom: 0;
    padding: 0;
}
.funcybox-body ul{
    list-style: none;
    display: inline-grid;
    padding: 0 20px 0 20px;
}
.funcybox-body > ul > li{
    line-height: 29px;
    white-space: nowrap;
    text-align: left;
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Modal styllari tugadi */
div.required > label.control-label:after {
    content: "*";
    /*color: red;*/
}
.ad_photos_main .galax{
    width: 150px;
    height: 150px;
}
.ad_photos_main label{
    width: 150px;
    height: 150px;
}
.checkleft{
    float: left;
    width: 33%;
    display: grid;
}
.button-list{
    position: absolute;
    margin-top: 15px;
    right: 15px;
    z-index: 1;
}
.galax .close_ad_photo_old {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #fff url(../images/close.png) no-repeat center;
    background-size: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 50%;
    opacity: .7;
}
span.add_some_contact {
    position: absolute;
    left: 105%;
    color: #8d9aaf;
    font-size: 12px;
    letter-spacing: -0.13px;
    line-height: 16px;
    top: 40px;
    width: 100%;
    cursor: pointer;
    max-width: 100px;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

span.add_some_contact:hover {
    color: #000;
}
form.form_ads .form-group.add_some span.add_some_contact {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    position: static;
    text-align: right;
    max-width: inherit;
}
.inpt_clones .clos_contact {
    position: absolute;
    right: -35px;
    top: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url(../images/close.png) no-repeat center;
    background-size: contain;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.galax .rotate_ad_photo{
    position: absolute;
    right: 25px;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #fff url(https://image.flaticon.com/icons/png/128/3031/3031285.png) no-repeat center;
    background-size: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 50%;
    opacity: .7;
}
.place_main .services-image img{
    max-width: 100px;
    max-height: 100px;
}
form.vacant_form textarea {
    margin-top: 0!important;
}

#content-modal > ul > .modal_cat_item {
    margin-left: 5px;
    margin-right: 5px;
    flex: 0 0 20%;
    margin-right: 0;
    margin-left: 0;
}

#content-modal > ul.cat_icon {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#content-modal>.right-box {
    width: 100%;
    margin: 0px 0 0 0px;
    padding-bottom: 14px;
    border-left: 1px solid #D9E3F3;
    margin-left: 0;
    padding-left: 30px;
}

div#exampleModalCat {
    overflow: visible !important;
}

a.for_cat_list.form-control {
    display: flex;
    align-items: center;
    height: auto;
    min-height: 48px;
}

div.star-input > label.control-label:after {
    content: "*";
}

.itemServicesListImg{
    width: 30px;
    height: 20px;
}

span.item-services-list-date {
    display: inline !important;
    color: #8d9aaf !important;
    width: 100% !important;
    text-align: right !important;
}

  .popups_fl:hover {
    z-index: 15;
  }
  .product_mains.product_horizontal.oct_blocks , .product_mains.product_horizontal.oct_blocks .product_text{
    overflow: visible;
  }
  .popups_fl_body a {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .popups_fl_body a img {
    max-width: 40px;
  }

.spinner{
    display: none;
}
.more_know:disabled{
    pointer-events: none;
}
.main_map_tags{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}
.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #6a7990;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 20px 20px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #f8fafb;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #848484;
    color: white;
}

.tag:hover::after {
    border-left-color: #848484;
}
.select2-container .select2-selection--multiple {
    min-height: 48px!important;
}
div.modal-review__rating-order-wrap > span {
    display: block; float: left;
    height: 34px; width: 38px;
    margin-bottom: 5px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='80'%20height='30'%3E%3Cpath%20d='M17.5,12.5h-8.5l6.8,5-2.6,8.1,6.8-5,6.8,5-2.6-8.1,6.8-5h-8.5l-2.6-8.1z'%20fill='%23c0c0c0'%20stroke='%23c0c0c0'/%3E%3Cpath%20d='M57.5,12.5h-8.5l6.8,5-2.6,8.1,6.8-5,6.8,5-2.6-8.1,6.8-5h-8.5l-2.6-8.1z'%20fill='%23ffd83d'%20stroke='%23eac328'/%3E%3C/svg%3E");
    background-position: 0px 0px;    /* gray star */
}

/* Persistent state */
div.modal-review__rating-order-wrap[data-rating-value] > span {
    background-position: -40px 0px;  /* gold star */
}
div.modal-review__rating-order-wrap > span.active ~ span {
    background-position: 0px 0px;    /* gray star */
}

/* Hover state */
div.modal-review__rating-order-wrap[class]:hover > span {
    background-position: -40px 0px;  /* gold star */
    cursor: pointer;
}
div.modal-review__rating-order-wrap[class] > span:hover ~ span {
    background-position: 0px 0px;    /* gray star */
}
.popups_fl:hover .popups_fl_body{
    min-width: 300px !important;
}

a.btn-success__border {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    padding: 0 24px;
    color: #00B273;
    margin-left: 25px;
    background-color: #E3FFEC;
    font-weight: 600;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
